body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* MAIN */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at 20% 20%, #1a2235, #0d1117);
  color: white;
}

/* CENTER BOX */
.login-content {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  text-align: center;
}

/* STATUS */
.status {
  color: #22c97a;
  font-size: 12px;
  margin-bottom: 15px;
}

/* TITLE */
.title {
  font-size: 42px;
  font-weight: bold;
}

.title span {
  color: #3b8ef0;
}

/* SUBTITLE */
.subtitle {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 30px;
}

/* ROLE TEXT */
.role-text {
  margin-bottom: 15px;
  color: #bbb;
}

/* ROLE CARDS */
.role-container {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.role-card {
  flex: 1;
  background: #111827;
  padding: 20px;
  border-radius: 14px;
  cursor: pointer;
  border: 1px solid #2a2f3a;
  transition: 0.3s;
}

.role-card:hover {
  transform: translateY(-3px);
}

.role-card.active {
  border: 2px solid #3b8ef0;
  background: #1a2335;
}

/* FORM */
.form-area {
  margin-top: 10px;
}

/* INPUT */
.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-size: 11px;
  color: #888;
}

.input-group input {
  width: 100%;
  padding: 14px;
  margin-top: 5px;
  background: #0e1219;
  border: 1px solid #2a2f3a;
  border-radius: 10px;
  color: white;
  font-size: 14px;
}

.input-group input:focus {
  border-color: #3b8ef0;
  box-shadow: 0 0 8px #3b8ef055;
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}

.forgot {
  color: #3b8ef0;
  cursor: pointer;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #3b8ef0, #4fa3ff);
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  transform: translateY(-2px);
}

/* FOOTER */
.footer {
  margin-top: 20px;
  font-size: 11px;
  color: #777;
}

/* AUTOCOMPLETE */
.suggestions {
  background: #0e1219;
  border: 1px solid #2a2f3a;
  border-radius: 10px;
  margin-top: 5px;
  max-height: 150px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: #ddd;
}

.suggestion-item:hover {
  background: #1a2335;
}